.LoginPage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: calc(100vh - 80px);
}

.LoginPage__title {
  font-weight: 700;
  font-size: 40px;
  color: #1e202c;
}

.LoginPage__form-container {
  padding: 40px;
}
